@import 'ns-dialog';
@import 'ns-form';
@import 'ns-table';
@import 'ns-tinymce';
@import 'ns-drawer';
@import 'ns-qrcode';
@import './common/index';
@import './ns-grid.scss';
.el-scrollbar .el-scrollbar__wrap {
  overflow-x: hidden;
}
.el-select-dropdown__wrap,
.el-autocomplete-suggestion__wrap,
.el-cascader-menu__wrap {
  &.el-scrollbar__wrap {
    margin-bottom: 0 !important;
  }
}

.el-checkbox__input {
  &.is-focus {
    //修改focus时,input边框颜色选中、label颜色未选中的问题。
    .el-checkbox__inner {
      border-color: #dcdfe6;
    }
  }
}
