@import 'mixins/mixins';
@include b(dialog) {
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
    .el-dialog {
      margin: 0 !important;
    }
  }
  .el-dialog__wrapper {
    overflow: hidden;
  }
  &.ns-scroll-dialog .el-dialog__body {
    overflow: hidden !important;
    display: flex;
  }
  .el-dialog {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 30px);
    max-width: calc(100% - 30px);
    .el-dialog__body {
      padding: 0;
      flex: 1 1 auto;
      overflow-y: auto;
      .el-scrollbar {
        flex: 1 1 auto;
        display: flex;
        .el-scrollbar__wrap {
          flex: 1 1 auto;
          height: auto;
        }
      }
      .el-scrollbar__view {
        width: 100%;
        padding: 20px 20px;
        box-sizing: border-box;
      }
    }
    .el-dialog__header {
      background-color: #f8f8f8;
      border-bottom: 1px solid #ebeef5;
    }
    .el-dialog__footer {
      padding: 10px 20px;
      text-align: center;
      border-top: 1px solid #ebeef5;
    }
    .el-dialog__headerbtn.screen {
      right: 45px;
      font-size: 16px;
      i {
        color: #909399;
        font-size: 13px;
      }
    }
  }
}
