@import 'mixins/mixins';
@include b(dialog) {
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
    .el-dialog {
      margin: 0 !important;
    }
  }
  .el-dialog__wrapper {
    overflow: hidden;
  }

  .el-dialog {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 30px);
    max-width: calc(100% - 30px);
    .el-dialog__body {
      padding: 0;
      flex: 1;
      overflow: hidden !important;
      .el-scrollbar__view {
        padding: 30px 20px;
      }
    }
    .el-dialog__header {
      background-color: #f8f8f8;
      border-bottom: 1px solid #ebeef5;
    }
    .el-dialog__footer {
      padding: 10px 20px;
      text-align: center;
      border-top: 1px solid #ebeef5;
    }
    .el-dialog__headerbtn.screen {
      right: 40px;
      i {
        color: #909399;
        font-size: 13px;
      }
    }
  }
}
