/** @format */

@import 'mixins/mixins';
@include b(form) {
  .el-select,
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner,
  .el-cascader,
  .el-input-number,
  .el-autocomplete {
    width: 100%;
  }
  .ns-search-item-container {
    width: 180px;
  }
  .search-btn-container {
    width: auto;
  }
  .form-btn-container {
    width: 100%;
    &.is-center {
      text-align: center;
    }
    &.is-left {
      text-align: left;
    }
    &.is-right {
      text-align: right;
    }
  }
  .ns-item-container .tips {
    color: #67c23a;
    font-size: 12px;
  }
  .ns-radio-group-button {
    display: flex;
    .el-radio-button {
      flex: 1 1 auto;
    }
    .el-radio-button__inner {
      width: 100%;
    }
  }
  .el-input_word-limit .el-input__inner {
    padding-right: 66px;
  }
}
.el-date-picker.el-popper .el-button--text {
  display: none;
}
.time-select .el-picker-panel__content {
  margin-bottom: 0;
}
