@include b(grid) {
  // thead .vxe-header--column {
  //   padding: 6px 0 !important;
  // }
  .operations-wraps {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > a {
      cursor: pointer;
      font-size: 18px;
      color: #409eff;
    }
    .operation-dropdown {
      font-size: 12px;
      margin-left: 10px;
      .el-icon--right {
        margin-left: 0;
      }
    }
  }

  .header_wraps {
    @include clearfix;
    // margin-bottom: 10px;
    &.header_wraps-inline {
      .form_wraps {
        float: left;
      }
      .btn_wraps {
        float: right;
        margin-left: 20px;
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
    .el-form-item {
      margin-bottom: 10px;
    }
  }
}
.operation-dropdown_prop {
  min-width: 100px;
}
